@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);

  --color-surface-light: var(--surface-light);
  --color-surface-dark: var(--surface-dark);

  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);

  --color-alert: var(--alert);
  --color-success: var(--success);
}

@layer base {
  :root {
    /* Modo Claro por defecto */
    --primary-50: #eff6ff;
    --primary-100: #dbeafe;
    --primary-500: #3b82f6;
    --primary-600: #2563eb;

    --surface-light: #ffffff;
    --surface-dark: #f8fafc;
    /* Gris claro/off-white */

    --text-main: #0f172a;
    /* Slate 900 */
    --text-muted: #475569;
    /* Slate 600 */

    --alert: #ef4444;
    /* Red 500 */
    --success: #22c55e;
    /* Green 500 */
  }

  /* Si decidimos alternar temas dinámicamente con clases (.theme-dark por ejemplo) */
  .theme-dark {
    --primary-50: #172554;
    --primary-100: #1e3a8a;
    --primary-500: #3b82f6;
    --primary-600: #60a5fa;

    --surface-light: #1e293b;
    --surface-dark: #0f172a;

    --text-main: #f8fafc;
    --text-muted: #cbd5e1;
  }
}

body {
  @apply bg-surface-dark text-text-main antialiased min-h-screen selection:bg-primary-500 selection:text-white m-0 p-0 font-sans;
}